.navbar {
	display: flex;
	align-items: flex-end;

	&__link {
		font-size: 1.7rem;
		text-transform: uppercase;
		font-weight: $weight-medium;
		margin-right: 5rem;
		padding-bottom: 0.5rem;
		position: relative;

		&:last-child {
			margin-right: 0;
		}

		&::after {
			content: "";
			display: block;
			width: 100%;
			height: 2px;
			transform-origin: right;
			transition: 150ms ease-in-out;
			position: absolute;
			top: 100%;
			left: 0;
			background: currentcolor;
			transform: scaleX(0);
		}

		&:hover::after {
			transform: scaleX(1);
			transform-origin: left;
			transition: 400ms ease-in-out;
		}
	}
}
